.App {
  display: flex;
  justify-content: space-around;
  background-color: blanchedalmond;
  padding: 50px;
  width: 100vw;
  height: 100vh;
}


.list a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.details {
  text-align: center;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}